@font-face {
    font-family: 'promptlight';
    src: url('../font/prompt-light-webfont.eot');
    src: url('../font/prompt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/prompt-light-webfont.woff2') format('woff2'),
         url('../font/prompt-light-webfont.woff') format('woff'),
         url('../font/prompt-light-webfont.svg#promptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'promptregular';
    src: url('../font/prompt-regular-webfont.eot');
    src: url('../font/prompt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/prompt-regular-webfont.woff2') format('woff2'),
         url('../font/prompt-regular-webfont.woff') format('woff'),
         url('../font/prompt-regular-webfont.svg#promptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-family:'promptlight' !important;
	height:100%;
}
.bg{
	background:url(../img/bg.png) no-repeat center center fixed;
	background-size:cover;
	height:auto;
}
.text-l{
	text-align:left !important;
}
.no-padding-lr{
	padding-left:0px !important;
	padding-right:0px !important;
}
.font-light{
	font-family:'promptlight' !important;
}
.font-regular{
	font-family:'promptregular' !important;
}
.dis-inblock{
	display: inline-block !important;
}
/*--------------bg color------------*/
.bg-white-gray{
	background: #ebebeb;
}
/*----------color--------*/
.color-dark-gray{
	color: #383737;
}
.color-light-gray{
	color: #8a8787;
}
.color-light-gray2{
	color: #bfbfbf;
}
.color-white{
	color: #fff;
}
.color-dark-red{
	color: #b22121;
}
/*---------------------user input box icon-------------------*/
/* enable absolute positioning */
i{
	color:#7f7f7f;
}
.inner-addon {
  position: relative;
}
/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
/* add padding  */
.left-addon input  { padding-left:  35px; }
.right-addon input { padding-right: 30px; }

/* end user input box icon */

/*------------------- screen-center ---------------------*/
.screen-center{
    height: 660px;
    display: flex;
    align-items: center;
}
/*------------------- login ---------------------*/
.box-login{
    overflow: hidden;
	margin:auto;
	background-color:#FFF;
	border-radius: 2px;
	box-shadow: 0 0 9px 0px #3a3939;
}
.mr-box-input{
	margin-top:10%;
	margin-bottom:10%;
}
.mr-logo{
	margin-bottom: 10%;
}
.mr-text-login{
	margin-bottom: 5%;
}
.text-login{
	font-family: 'promptregular';
	font-size: 16px;
}
.form-control{
	font-family: 'promptlight' !important;
	font-size:17px !important;
	border-radius:2px !important;
}
.mr-form-input{
	padding-left:15% !important;
	padding-right:15% !important;
}
.mr-bot-pass{
	margin-bottom:5px !important;
}
a .text-forgot{
	color:#b22121 ;
}
.btn{
	border-radius:2px !important;
	border:0px !important;
}
.btn-login{
	width: 100%;
    color: #fff;
    background-color: #b22121;
    font-size: 20px !important;
	border: #b22121 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}
.btn-fb{
	width: 100%;
    color: #fff;
    background-color: #315a83;
    font-size: 20px !important;
	border: #315a83 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}
.btn:hover {
	font-family: 'promptregular' !important;
    color: #b22121 !important;
    background-color: #fff;
    border: #b22121 solid 1px !important;
    text-decoration: none;
}

.btn-fb:hover {
	font-family: 'promptregular' !important;
    color: #315a83 !important;
    background-color: #fff;
    border: #315a83 solid 1px !important;
    text-decoration: none;
}
.text-or{
	color: #959595;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 17px;
}
.mr-bot-text-regis{
	margin-bottom: 10%;
}
/*----------------------- register -------------------*/
.box-regis{
    overflow: hidden;
	margin:auto;
	background-color:#FFF;
	border-radius: 2px;
	box-shadow: 0 0 9px 0px #3a3939;
}
.mr-box-input-regis{
	margin-top:5%;
}
.text-regis{
	font-family: 'promptregular';
	font-size: 45px;
    color: #b22121;
}
.mr-text-regis{
	margin-bottom:15px;
}
.icon-camera{
	position: absolute;
    bottom: 0;
    left: 56%;
}
label {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
.mr-bot-text-signin{
	margin-bottom: 5%;
}
.text-descrip{
	font-size: 12px;
}

/*---------------------- forgot pass -------------------------------------------*/

.box-forgot{
	overflow: hidden;
	margin:auto;
	background-color:#FFF;
	border-radius: 2px;
	box-shadow: 0 0 9px 0px #3a3939;
}
.mr-box-input-forgot{
	margin-top:7%;
}
.btn-send-mail{
	width: 100%;
    color: #fff;
    background-color: #b22121;
    font-size: 20px !important;
	border: #b22121 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}
.mr-text-forgot{
	margin-bottom:5%;
	
}
.mr-form-input-forgot {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

/*----------------------------edit_profile-----------------------------*/

.menu-header-profile{
	font-size: 20px;
	color: #686868;
	padding-bottom: 15px !important;
}
.box-profile{
    overflow: hidden;
	margin:auto;
	background-color:#ebebeb;
	border-radius: 2px;
	box-shadow: 1px 1px 5px 0px #c6c5c5;
	padding-top: 2%;
	padding-bottom:2%;
}
.pd-box{
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 40px;
}
.input-profile{
	width: 100% !important;
}
.btn-profile{
    color: #fff;
    background-color: #b22121;
    font-size: 20px !important;
	border: #b22121 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}
.mr-img-file{
	margin-top: 20px;
	margin-bottom: 5px;
}
.btn-edit{
    color: #959595;
    background-color: #fff;
    font-size: 12px !important;
	border: #959595 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}
.btn-edit:hover{
    color: #fff !important;
    background-color: #959595;
    font-size: 12px !important;
	border: #959595 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}
.mr-img-btn{
	margin-top: 5px;
	margin-bottom: 5px;
}
.menu-header-pass{
	font-size: 20px;
	color: #686868;
	padding-bottom: 15px !important;
	margin-top: 40px !important;
}
.mr-newPass{
	margin-bottom: 0px !important;
}
.mr-descript{
	margin-top: 0px !important;
}
.btn-pass{
    color: #fff;
    background-color: #b22121;
    font-size: 20px !important;
	border: #b22121 solid 1px !important;
	box-shadow: 0.5px 0.5px 2px 0px #989797;
}

/* ---------------------------- edit quotation-------------------------------*/

.header-edit-quo{
	font-size: 20px;
	color: #686868;
	padding-bottom: 15px !important;
}
.edit-quo-navigator{
	font-size: 14px;
	color: #686868;
	padding-bottom: 15px !important;
}
.pd-header{
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
}
.datepicker-edit-quo{
	padding-left: 15px;
}
.input-datepicker{
}
.input-quo-edit{
	width: 88.5% !important;
}
.pd-select-quo{
	padding-top: 3px !important;
}
.mr-edit-quo{
	margin-bottom: 0px !important;
}
.sp-quo-edit{
    padding: 7px;
}
.rdo-edit{
	margin-top: 0;
    margin-left: 10px;
}

/*----------------------add_quotation---------------------*/
.btn-quo{
	width: 50%;
}

/*-------------------------add_quo_type-------------------*/
.btn-quo-type{
	width: 50%;
}

/*----------------------------add_contact---------------------------*/
.control-input{
	width: 88.4% !important;
}
.control-icon-plus{
	font-size: 20px !important;
	color: green;
}
.control-icon-close{
	font-size: 20px !important;
	color: red;
}
.control-pd-icon-plus{	
	padding: 7px !important;
	cursor: pointer;

}
.control-pd-icon-close{
	padding: 7px !important;
	padding-left: 13px !important;
	cursor: pointer;
}
.mr-div-gen{
	margin-top: 15px !important;
}

/*--------------------------- navbar ------------------------*/

.logo-navbar{
	margin-top: -8px;
}
.font-sidebar{
	font-size: 16px;
}


.bg-test{
	background-color: #000;
}

/*color-checkwork*/
.class-checkwork{
	/*finish	b5ffb5*/
	/*inprocess f8ff6a*/
	/*wait		ffad6a*/
}